<form action="/superheroes" method="post">
  <h1>Create a Team and Heros!</h1>

  <p>Team Name: <input type="text" name="team[name]"></p>
  <p>Team Motto: <input type="text" name="team[motto]"></p>

  <h2>Hero 1</h2>

  <p>Hero's Name: <input type="text" name="super_hero[name]" id="super_hero_1"></p>
  <p>Hero's Power: <input type="text" name="super_hero[power]" id="super_hero_1"></p>
  <p>Hero's Biography: <input type="text" name="super_hero[bio]" id="super_hero_1"></p>

  <h2>Hero 2</h2>

  <p>Hero's Name: <input type="text" name="super_hero[name]" id="super_hero_2"></p>
  <p>Hero's Power: <input type="text" name="super_hero[power]" id="super_hero_2"></p>
  <p>Hero's Biography: <input type="text" name="super_hero[bio]" id="super_hero_2"></p>

  <h2>Hero 3</h2>

  <p>Hero's Name: <input type="text" name="super_hero[name]" id="super_hero_3"></p>
  <p>Hero's Power: <input type="text" name="super_hero[power]" id="super_hero_3"></p>
  <p>Hero's Biography: <input type="text" name="super_hero[bio]" id="super_hero_3"></p>

</form>
